/* list.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0eaea;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
}

table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: #e7c9c9;
  box-shadow: 0 0 20px rgba(142, 46, 46, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f7f6f6;
}

tr:hover {
  background-color: #94c6df;
}

a {
  text-decoration: none;
  color: #ab3b8b;
  display: inline-block;
  margin-right: 10px;
}

a:hover {
  color: #1e87d0;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  table {
      width: 100%;
  }

  th, td {
      display: block;
      width: 100%;
      box-sizing: border-box;
  }

  th {
      text-align: center;
  }
}
