
    body {
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #333;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }

    error-container {
        background-color: #ffdddd;
        color: #990000;
        padding: 10px;
        border: 1px solid #990000;
        margin-bottom: 8px;
        border-radius: 4px;
    }

    error-container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    error-container li {
        margin-bottom: 3px;
    }

    label {
        display: block;
        margin-bottom: 4px;
    }

    input,
    select {
        width: 90%;
        padding: 9px;
        margin-bottom: 9px;
        box-sizing: content-box;
    }

    input[type="submit"] {
        background-color: #3dc334;
        color: rgb(207, 103, 47);
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #49f376;
    }
    select {
        margin-top: 5px; 
    }
    select option:checked {
        background-color: #ccc; 
    }
    
    /* Adjusted styling for radio buttons */
    form label {
      display: block;
      margin-bottom: 6px;
   }

    form label input[type="radio"] {
    margin-right: 5px;
   }